@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    src:
      url("./fonts/Satoshi-Bold.woff2") format("woff2"),
      url("./fonts/Satoshi-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Satoshi";
    font-weight: 600;
    src:
      url("./fonts/Satoshi-Medium.woff2") format("woff2"),
      url("./fonts/Satoshi-Medium.woff") format("woff");
  }
}
